<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <groups>
  <run>
  <include name="one"></include>
  </run>
  </groups>
    <classes>
      <class name="pack2.c4"/>
      <class name="pack1.c1"/>
      <class name="pack2.c3"/>
      <class name="pack1.c2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
